<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="AcmeShoppeConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\Ken Cutler\Downloads\finalfiles\AcmeShoppe.mdb"
      providerName="System.Data.OleDb" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" timeout="30" />
    </authentication>
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <location path ="Members">
    <system.web>
      <authorization>
        <deny users="?" />
        <deny users="admin" />
      </authorization>
    </system.web>
  </location>
    <location path ="Maintenence">
      <system.web>
        <authorization>
          <allow users="admin" />
          <deny users="*" />
        </authorization>
      </system.web>
  </location>
</configuration>